input,i{
    margin-bottom: 10px;
}
.container{
    background-color: rgb(255, 255, 255);
}

.text-center{
    font-size: 30px;
    color: rgb(33, 73, 49);
}
.text-center{
    color: rgb(41, 59, 22);
}
body{
    background-image: url('https://img.freepik.com/fotos-gratis/fundo-de-metal-preto-ou-textura_88281-4014.jpg');
    background-size: 100vw 100vh;
}